.wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 0 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  width: 100%;
  margin-top: 14rem;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 1rem 1rem 0.0rem;
}

.heading {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
}

.h2 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.h2Secondary {
  margin-top: 0;
}

.p2 {
  margin-top: 1rem;
}

.lastP {
  margin-bottom: 1rem;
}

.strong {
  font-weight: 600;
  line-height: 1.5;
}

.answer,
.answerLast {
  line-height: 1.5;
}

@media (min-width: 600px) {
  .container {
    margin-top: 4rem;
  }
}

@media (min-width: 5000px) {
  :root {
    font-size: 105px;
  }
}