.wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 0 1rem;
}

.container {
  width: 100%;
  max-width: 2000px;
  color: #f0ede6;
  font-family: 'DM Sans', sans-serif;
  margin-top: 14rem;
}

.container h1 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.container p {
  font-size: 1rem;
  
  margin-bottom: 2rem;
  color: #cfcfcf;
}

.title {
  font-size: 1.5rem;
}

.heading {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.firstHeading {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  
}

.content h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.content ul {
  padding-left: 1.25rem;
  list-style-type: disc;
}

@media (min-width: 600px) {
  .container {
    margin-top: 4rem;
  }

  .container h1 {
    font-size: 2rem;
  }

  .heading {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .title {
    margin-top: 0;
    margin-bottom: 0.7rem;
  }
}

@media (min-width: 5000px) {
  :root {
    font-size: 105px;
  }
}