.homeWrapper {
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
  width: 100%;
  padding: 0 1rem;
}

.container {
  width: 100%;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  margin-top: 14rem;
}

.title {
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.titleWord {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.content {
  max-width: 100%;
}

.featureGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}

.featureItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.featureHeading {
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
}

.featurePara {
  margin: 0;
  font-size: 1rem;
  
  color: #aaa;
}

.divider {
  width: 100%;
  max-width: 56.25rem;
  border-top: 0.0625rem solid #e0e0e0;
  margin: 2rem 0;
}

.sideCol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  justify-items: center;
}

.sideItem {
  width: 100%;
  margin-bottom: 1rem;
}

.panDragWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 37.5rem;
  margin-inline: auto;
  margin-top: 0rem;
}

@media (min-width: 600px) {
  .container {
    margin-top: 4rem;
  }
}

@media (min-width: 5000px) {
  :root {
    font-size: 105px;
  }
}